

<nav class="navbar navbar-expand-lg navbar-dark " style="background-color:grey;">
  <div class="container-fluid">
    <a class="navbar-brand ms-4" href="#">
      <img src="assets/TFlogo.png"  alt="" width="70" height="55" style="border-radius: 5px;border:2px solid yellow">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-auto me-2">
          <input class="form-control me-0" style="border-radius:2px;width: 400px; border:2px solid rgb(99, 93, 93);font-family:sans-serif;" type="search" placeholder="Search for Products,Brands and More" aria-label="Search">
          <button id="BH" class="btn btn-success ms-0" style="border-radius: 2px; border: none; background-color: black;" type="submit">
            <i class="bi bi-search"></i>
          </button>
          </form>
        <ul class="navbar-nav ms-auto me-5 mb-2 mb-lg-0">
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/guest"><i class="bi bi-house-door"></i>
          </li>
         &nbsp;
         &nbsp;
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">ALL</a>
          </li>
          &nbsp;
         &nbsp;
        <li class="nav-item" >
          <a class="nav-link active" aria-current="page" href="/login"><i class="bi bi-bag-heart-fill"></i> &nbsp;</a>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login"><i class="bi bi-cart2"></i> &nbsp;</a>
        </li>
        &nbsp;
        &nbsp;
        <li class="nav-item dropdown " >
          <a class="nav-link dropdown-toggle" href="/login" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;"></i> 
            <i class="bi bi-person-circle"></i>&nbsp;</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="d-flex" ><a style="text-decoration: none;color: black;" href="/login">Login</a><h6>/</h6><a style="text-decoration: none;color: black;" href="/Signup">SignUp</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Orders</a></li>
            <li><a class="dropdown-item" href="#">Whishlist</a></li>
            <li><a class="dropdown-item" href="#">Coupons</a></li>
          </ul>
        </li>

      </ul>
          
      </div>
    </div>
  </nav>