<style>
  /* Add this CSS */
  footer {
      bottom: 0px;
      padding-bottom: 0px;
      width: 100%;
      
  }
  
  /* Rest of your existing CSS */
  .text {
      text-decoration: none;
      font-size: smaller;
      color: lightslategray;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .text:hover {
      color: white;
  }

  .text-uppercase {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
</style>


    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white mt-4"
            style="background-color: #424646;"
            >
    <div class="container-fluid" >
      <div class="container" style="display: flex;justify-content: center;align-items: center;">
          <div class="row">
            <div class="col-md-3  mt-4">
              <br>
              <!-- <img src="/assets/logoblack.png" style="width: 54%;height: 38%;" alt=""> -->
              <h6 class="text-uppercase mb-4 font-weight-bold" style="color:rgb(168, 185, 201)">OUR SERVICES</h6>
              <p>
                <a class="text">@THANAF WATCHES </a>
              </p>
              <p>
                <a class="text">@THANAF PERFUMES</a>
              </p>
              <p>
                <a class="text">@THANAF MEDICINES</a>
              </p>
              <p>
                <a class="text">@THANAF PRODUCTS</a>
              </p>
            </div>
            
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3  mt-4">
              <br>
              <h6 class="text-uppercase  mb-4 font-weight-bold" style="color:rgb(168, 185, 201)">ABOUT US</h6>
              <p>
                <a class="text">Contact us</a>
              </p>
              <p>
                <a class="text">About us</a>
              </p>
              <p>
                <a class="text">Careers</a>
              </p>
              <p>
                <a class="text">All our Services</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 mt-4" >
              <br>
              <h6 class="text-uppercase mb-4 font-weight-bold" style="color:rgb(168, 185, 201)">HELP</h6>
              <p>
                <a class="text">Payments</a>
              </p>
              <p>
                <a class="text">Shipping</a>
              </p>
              <p>
                <a class="text">Cancellation & Return</a>
              </p>
              <p>
                <a class="text">FAQ</a>
              </p>
            </div>
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3  mt-4">
              <br>
              <h6 class="text-uppercase mb-4 font-weight-bold" style="color:rgb(168, 185, 201)">Contact</h6>
              <p><i class="bi  bi-house-door-fill mr-3"></i> <a class="text">&nbsp;Kerela,Calicut,673001</a></p>
              <p><i class="bi  bi-envelope-at-fill mr-3"></i><a class="text">&nbsp;thanafindiapvtltd@gmail.com</a></p>
              <p><i class="bi  bi-telephone-fill mr-3"></i><a class="text">&nbsp;+91 99 888 777 66</a></p>
              <p><i class="bi  bi-printer-fill mr-3"></i><a class="text">&nbsp;+0971 222 333 44</a></p>
            </div>
            <!-- Grid column -->
          
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
  
        <!-- Section: Copyright -->
        <section class="p-3 pt-0 mb-3">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                 © 2024
                <a class="text-white" href="" style="font-size: small;   text-decoration: none;font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
                   >THANAF India pvt ltd All Rights Reserved.</a
                  >
              </div>
              <!-- Copyright -->
            </div>
           
          </div>
          </section>
        
        
    </div>
  </div>
  </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer -->
 
  <!-- End of .container -->